{% extends 'layout.html' %}

{% block body %}

<div style="display: grid; grid-template-columns: 1fr 4fr 1fr;">
    <div class="border rounded border-success list-group p-3">
        <h4 class="text-center">Topics</h4>
    </div>
    <div class="border rounded border-success list-group p-3 m-1">
        <h4 class="text-center">Rooms</h4>
        {% include "base/rooms.html" %}
    </div>
    <div class="container border rounded border-success p-3">
        <h4 class="text-center">Create Room</h4>
        <form action="{% url 'create_room' %}" method="post">
            {% csrf_token %}
            {{ creation_form.as_p }}
            <input type="submit" class="btn btn-success form-control" value="Create Room">
        </form>
    </div>
</div>

{% endblock %}