{% extends 'layout.html' %}
{% load static %}

{% block title %}
Profile : {{requested_user.username}}
{% endblock %}


{% block body %}

<div class="container-fluid m-3 text-center">
    <h1 class="text-center"><i class="fa-solid fa-user"></i> {{requested_user.username}}
    </h1>
</div>

<div class="container-fluid table-responsive text-center mx-0">
    <table class="table text-white bg-dark table-condensed text-center m-0">
        <tr>
            <td>Username</td>
            <td>{{requested_user.username}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{requested_user.email}}</td>
        </tr>
        <tr>
            <td>Date Joined</td>
            <td>{{requested_user.date_joined}} - UTC</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{requested_user.gender}}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>{{requested_user.phone_num}}</td>
        </tr>
        <tr>
            <td>Current Residence</td>
            <td>{{requested_user.current_residence}}</td>
        </tr>
        <tr>
            <td>Nationality</td>
            <td>{{requested_user.nationality}}</td>
        </tr>
    </table>

</div>


{% if requested_user == request.user %}
<hr class="text-info">

<div class="container text-center">
    <h4>My rooms</h4>
    <div class="container border border-warning m-3 rounded p-3 text-center">
        {% for room in requested_user.created_rooms.all %}
        
        <a href="{% url 'view_room' room.id %}" class="list-group-item list-group-item-action flex-column align-items-start bg-dark text-white border-dark">
            <div class="d-flex w-100 ">
                <h5 class="mb-1">{{ room.name }}</h5>
                <small></small>
            </div>
            <p class="mb-1 text-left">{{room.description | truncatechars:100}}</p>
        </a>
        <hr>
        
        {% empty %}
        <h3>No rooms</h3>
        {% endfor %}
    </div>
</div>
{% endif %}
<hr class="text-info">

<div class="container text-center">
    <h4>User Posts</h4>
    <div class="container border border-warning m-3 rounded p-3 text-center">
        {% for post in requested_user.user_posts.all %}
        
        <a href="{% url 'view_post' post.id %}" class="list-group-item list-group-item-action flex-column align-items-start bg-dark text-white border-dark">
            <div class="d-flex w-100 ">
                <h5 class="mb-1">{{ post.title }}</h5>
                <small></small>
            </div>
            <p class="mb-1 text-left">{{post.content | truncatechars:100}}</p>
        </a>
        <hr class="text-info">
        
        {% empty %}
        <h3>No posts</h3>
        {% endfor %}
    </div>
</div>

{% endblock %}