{% extends "layout.html" %}

{% block body %}

<div class="container" style="display: grid; grid-template-columns: 3fr 1fr;">
    <div class="border rounded border-success m-2">
        <div class="container mt-2 mb-2 border-bottom border-info pb-2">
            <a href="javascript:history.back()" class="btn btn-info btn-sm">Back</a>
        </div>
        <div class="border-bottom border-info">
            <div class="text-center">
                <h2>{{post.title}}</h2>
                <small>{{post.creator}}</small>
                {% if request.user == post.creator %}
                <div>
                    <a href="{% url 'update_post' post.id%}" class="btn btn-info btn-sm">Update</a>
                    <a href="{% url 'delete_post' post.id%}" class="btn btn-danger btn-sm">Delete</a>
                </div>
                {% endif %}
            </div>
            <p class="text-center">{{post.content}}</p>
        </div>
        <div class="text-white container">
            <h3 class="text-left m-3">Comments</h3>
            <hr class="text-info">
            <hr class="text-info">
        </div>
        <div class="container">
            <div class="border rounded border-success list-group p-3 m-1">
                {% comment %}
                  comments go here
                {% endcomment %}
            </div>
        </div>

    </div>
    <div class="border rounded border-success m-2">
        <h2 class="text-center">Participants</h2>
        <ul class="list-group">
            {% for participant in post.participants.all %}
            <li class="list-group-item bg-dark m-1 text-white">{{participant}}</li>
            {% endfor %}
        </ul>
    </div>
</div>




{% endblock %}