{% extends "layout.html" %}

{% block body %}

<div class="container" style="display: grid; grid-template-columns: 3fr 1fr;">
    <div class="border rounded border-info m-2">
        <div class="container mt-2 mb-2 border-bottom border-info pb-2">
            <a href="javascript:history.back()" class="btn btn-info btn-sm">Back</a>
        </div>
        <div class="border-bottom border-info">
            <div class="text-center">
                <h2>{{room.name}}</h2>
                <small>{{room.topic}}   -   {{room.creator}}</small>
                <div>
                {% if not joined %}
                    <a href="{% url 'join_room' room.id %}" class="btn btn-success btn-sm">Join Room</a>
                {% endif %}
                {% if request.user == room.creator %}
                    <a href="{% url 'update_room' room.id %}" class="btn btn-info btn-sm">Update</a>
                    <a href="{% url 'delete_room' room.id %}" class="btn btn-danger btn-sm">Delete</a>    
                {% elif joined %}
                    <a href="{% url 'leave_room' room.id %}" class="btn btn-danger btn-sm">Leave Room</a>
                {% endif %}

                </div>
            </div>
            <p class="text-center">{{room.description}}</p>
        </div>
        <div class="text-white container">
            <h3 class="text-left m-3">Posts</h3>
            <hr class="text-info">
            {% include "base/create_post.html" %}
            <hr class="text-info">
        </div>
        <div class="container">
            <div class="border rounded border-success list-group p-3 m-1">
                {% include "base/posts.html" %}
            </div>
        </div>

    </div>
    <div class="border rounded border-info m-2">
        <h2 class="text-center">Participants</h2>
        <ul class="list-group">
            {% for participant in room.participants.all %}
            <li class="list-group-item bg-dark m-1 text-white border-dark">{{participant}}</li>
            {% endfor %}
        </ul>
    </div>
</div>




{% endblock %}